/* We use a custom CSS file for the background image to keep the HTML clean.
  Photo by Tom Fisk from Pexels.
*/
.page-background {
  background-image: url('https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
}
